@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{padding: 0;margin: 0;font-family: Poppins;caret-color: transparent;}
#timeNow{position: fixed; right: 30px; top: 30px; }
header{font-size: xx-large; font-weight: 600;margin-bottom: 30px;}
#parentContainer{ padding: 50px; margin-top: 80px;}
#pCconent{display: flex; margin-bottom: 10px;}
img{width: 250px; border-radius: 10px; filter: contrast(1.2) brightness(1.1) saturate(1.5);}
#img img{box-shadow: 2px 2px 2px #474747; border-radius: 50%; margin-right: 20px;}
input{padding: 10px;  width: 250px; border: transparent; background: transparent;}
#totalDue{color: rgb(255, 0, 0); font-weight: 600; font-size: x-large;}
td{padding: 0 15px; }
#pay{border-radius:5px; background: #9FFF9F; color: #474747; font-size: x-large; cursor:pointer; font-weight:600; transition: .3s ease-in-out; box-shadow: 2px 2px 2px #474747;}
#pay:hover{background: #66c066; color: #fff; }

#copied{font-size: 10px; text-align: center;}

#msgBgd{display:none; top: 0; left:0;width: 100%;height: 100%;background: #000000bf;position: fixed;z-index: 1;}
#msgContainer{border-radius: 20px;margin-top: 25%;margin-left: 50%;width: fit-content; transform: translate(-50%, -50%); padding-bottom: 20px; background: #ffffff; height: fit-content;}
#msgContainer img{width: 150px; padding: 15px 0 0 0;}
#btnX{position: absolute;right: 0;padding: 3px 17px;font-size: xx-large;color: #868686; cursor: pointer; transition: 0.3s ease-in-out;}
#btnX:hover{color: #FE7777; transform: rotate(90deg);}
#payTable{margin:5px 25px;}
#payTable table td{padding: 5px;  }
#clipper{margin:0 20px; width: fit-content; position: fixed; right: 0; border: solid; color: #fff;padding: 10px; border-radius: 10px; background: #007dfe; transition: 0.3s ease-in-out; cursor: pointer;}
#clipper:hover{background: #0065ca;}

@media (max-width: 936px){
    header{font-size: large; font-weight: 600;margin-bottom: 10px; text-align: center; }
    img{width: 120px; padding: 10px 0 0 0;}
    #pCconent{display: block; text-align: center;}
    table{margin: 0 auto; text-align: right;}
    #timeNow{z-index: 1; background: rgba(0, 0, 0, 0.25); padding: 10px; border-radius: 10px; color: #FFF; font-size: 12px;}
    td{font-size: 10px;}
    .tdV input{padding: 1px; font-size: 10px; width: 120px;}
    #btnX{font-size: x-large;}
    #msgContainer{margin-top: 50%;height: fit-content; width: fit-content;}
    #msgContainer img{width: 100px; padding: 10px 0 0 0;}
    #msgContainer p {font-size: 10px; padding: 1px;}
    #payTable Table td {padding: 0 10px;}
    #payTable{padding-top: 5px; margin: 1px 5px;}
    #pay{font-size: small; width: fit-content;}
    #totalDue{font-size: small;}
}
